body {
    background-color: #242424;
    text-align: center;
    color: #ffffff;
    font-family: "Varela Round";
    font-size: 120%;
    margin: 0 1rem 1rem;
}

body h1 {
  color: #00D7FF;
}

body h1 span{
  color: #0096FF;
}

a:link {
    color: #0096FF;
}
a:visited {
    color: #00D7FF;
}
a:hover {
    color: #006274;
}
a:active {
    color: #00fff2;
}

.portrait {
  position: relative;
  margin: 50px auto 10px;
  display:inline-block
}

.portrait .profilepic {
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.portrait .spinner {
  width: 300px;
  height: 300px;
  border: 10px solid #0096FF;
  border-right-color: #00D7FF;
  border-bottom-color: #00D7FF;
  border-radius: 50%;
  transition: 0.5s;
}

.portrait:hover .spinner {
  transform: rotate(-180deg);
}

.icons i{
  height: 70px;
  width: 70px;
  display: inline-block;
  margin: 1rem 1rem;
  cursor: pointer;
  position: relative;
}
.icons i:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 20px;
  background: linear-gradient(45deg, #0096FF, #00D7FF);
  transition: all 0.3s ease-in;
}
.icons i:hover:before{
  transform: rotate(360deg);
  border-radius: 100%;
}
.icons i a span{
  font-size: 180%;
  line-height: 70px;
  color: #fff;
  transition: all 0.3s ease-out;
}
.icons i:hover a span{
  transform: scale(1.2);
}

.buttoncontainer {
    text-align: center;
    margin-top: 1rem;
}

.buttons {
    background: #0096FF;
    border: none;
    color: #ffffff;
    padding: 2% 3%;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    font-size: 120%;
    transition: 0.8s;
    font-family: "Varela Round"
}

.buttons:hover {
    background: #00D7FF;
    transition: 0.8s;
}

.formacion {
    text-align: left;
}

.formacion li {
  margin: 1rem;
}